@media screen and (max-width: 2990px) {
    .insta__titlebg {
        display: none;
    }
}
@media screen and (max-width: 1196px) {
    .question__titlebg {
        display: none;
    }
}
@media screen and (max-width: 1815px) {
    .sostav__content {
        flex-wrap: wrap;
    }
}
@media screen and (max-width: 1611px) {
    .korzina__prodd {
        flex-wrap: wrap;
        margin-bottom: 97px;
    }
}
@media screen and (max-width: 1558px) {
    .cab__border {
        display: block;
    }
}
@media screen and (max-width: 1376px) {
    .header__item {
        margin-top: 10px;
    }
}
@media screen and (max-width: 1345px) {
    .oformlenie__content {
        flex-wrap: wrap;
    }
    .oformlenie__right {
        height: 100%;
    }
}
@media screen and (max-width: 1265px) {
    .cab__left--bottomm {
        margin-top: 1000px;
    }
}
@media screen and (max-width: 1240px) {
    .cab__righttt {
        margin-left: 0;
    }
}
@media screen and (max-width: 1120px) {
    .cab__border, .cab__borderr {
        margin-left: 0;
    }
}
@media screen and (max-width: 1056px) {
    .cab__border, .cab__borderr {
        margin-left: 0;
    }
}
@media screen and (max-width: 815px) {
    .oformlenie__dopcomm {
        width: 50%;
    }
}
@media screen and (max-width: 805px) {
    .sostav__item {
        flex-wrap: wrap;
        width: 100%;
    }
}
@media screen and (max-width: 790px) {
    .oformlenie__fio {
        flex-wrap: wrap;
    }
}
@media screen and (max-width: 1025px) {
    .oformlenie__fio {
        flex-wrap: wrap;
    }
    .oformlenie__riggght, .sostav__riggght {
        margin-left: 0;
    }
}
@media screen and (max-width: 715px) {
    .cab__borderr {
        flex-wrap: wrap;
    }
    .cab__items {
        justify-content: center;
    }
    .cab__left--bottomm {
        margin-top: 0px;
    }
}
@media screen and (max-width: 987px) {
    .cab__line {
        display: none;
    }
    .cab {
        &__border {
            margin: 0 0 0 0;
            display: flex;
            justify-content: center;
            padding-bottom: 59px;
            flex-wrap: wrap;
        }
        &__borderr {
            margin: 0 0 0 0;
            display: flex;
            justify-content: center;
            padding-bottom: 59px;
            // flex-wrap: wrap;
        }
        &__borderrr {
            margin: 0 0 0 0;
            display: flex;
            justify-content: center;
            padding-bottom: 59px;
            // flex-wrap: wrap;
        }
    }
}
@media screen and (max-width: 980px) {
    .catalog__text {
        display: none;
    }
}
@media screen and (max-width: 900px) {
    .offer__bottom {
        justify-content: center;
    }
}
@media screen and (max-width: 690px) {
    .sostav__itemRight {
        flex-wrap: wrap;
    }
}
@media screen and (max-width: 675px) {
    .pade__content {
        flex-wrap: wrap;
    }
}
@media screen and (max-width: 818px) {
    .insta {
        display: none;
    }
}
@media screen and (max-width: 750px) {
    .catalog__bottom {
        justify-content: center;
    }
}
@media screen and (max-width: 700px) {
    .cab__bottom--item {
        flex-wrap: wrap;
        // margin-top: 100px;
    }
}
@media screen and (max-width: 535px) {
    .product__content {
        flex-wrap: wrap;
        justify-content: center;
    }
    .product__right {
        // flex-wrap: wrap;
        justify-content: center;
    }
}
@media screen and (max-width: 543px) {
    .cab__list--item-adress, .cab__list--item-adresss {
        margin-top: 7px;
    }
}
@media screen and (max-width: 445px) {
    .oformlenie__bttn, .oformlenie__btn {
        position: relative;
        right: 0;
    }
}
@media screen and (max-width: 391.5px) {
    .data, .dataa {
        margin-top: 7px;
    }
}
@media screen and (max-width: 373px) {
    .email {
        margin-top: 7px;
    }
}
@media screen and (max-width: 345px) {
    .ot {
        margin-top: 7px;
    }
}
@media screen and (max-width: 336px) {
    .fam {
        margin-top: 7px;
    }
}
@media screen and (max-width: 334px) {
    .cab__list--item-adress {
        margin-top: 0px;
    }
}
@media screen and (max-width: 464px) {
    .numbers, .numberss {
        margin-top: 7px;
    }
}
@media screen and (max-width: 460px) {
    .footer__btn {
        position: relative;
    }
}
@media screen and (max-width: 390px) {
    .pade__btn {
        width: 100%;
    }
}
@media screen and (max-width: 610px) {
    .cab__btnnn {
        position: relative;
    }
    .cab__inp-send {
        padding-right: 100px;
    }
    .cab__right {
        margin-left: 0;
    }
}
@media screen and (max-width: 328px) {
    .footer__inp {
        padding-right: 120px;
    }
    .pade__btnTitle {
        margin-left: 29px;
    }
}
@media screen and (max-width: 375px) {
    .catalog__item {
        max-width: 100%;
    }
    .catalog__item img{
        max-width: 100%;
    }
}
@media screen and (max-width: 555px) {
    .hero {
        display: none;
    }
    .header {
        &__map {
            margin: 10px 0;
        }
        &__content {
            justify-content: center;
        }

        &__input {
            margin-top: 50px;
        }
    }
}
