.footer {
    background: linear-gradient(267.48deg, #ECECD5 56.22%, #D7D7B9 130.03%);
    &__content {
        @include flex(space-between, flex-start, wrap);
        font-family: 'Montserrat';
    }
    &__list, &__right {
        margin-top: 64px;
        margin-bottom: 25px;
    }
    &__list--logo {
        margin-bottom: 55px
    }
    &__list--item {
        @include font(600, 16px, #424242);
        margin-bottom: 38px;
        cursor: pointer;
    }
    &__icon {
        margin-right: 14px;
        margin-bottom: 19px;
    }
    &__warning {
        @include font(400, 12px, #525252);
        margin-top: 8px;
        margin-bottom: 40px
    }
    &__description {
        @include font(400, 16px, #525252);
        // width: 454px;
        height: 88px;
    }
    &__title {
        margin-bottom: 31px;
    }
    &__right input {
        border-radius: 76px;
    }
    &__right button {
        border-radius: 49px;
    }
    &__inp {
        padding: 16px 132px 15px 32px;
        border: none;
        font-family: 'Montserrat';
        @include font(300, 14px, #7D7D7D);
    }
    &__inpu {
        position: relative;
    }
    &__btn {
        font-family: 'Spectral SC';
        cursor: pointer;
        padding: 13px 45px;
        position: absolute;
        top: -1px;
        right: 0;
        border: none;
        text-transform: uppercase;
        @include font(600, 16px, white);
        background: linear-gradient(102.48deg, #976464 -29.03%, #CFA5A5 97.75%);
    }
    &__btn a{
        color: white;
    }
    &__btn a:active{
        color: #BF9191;
    }
    &__btn:hover {
        background: linear-gradient(102.48deg, #7B4646 -29.03%, #BF9191 97.75%);
    }
    &__btn:active {
        border: 1px solid #BF9191;
        color: #BF9191;
        background: white;
    }
    &__list--item a {
        color: #424242;
    }
}
.fdf {
    display: flex;
    @include font(400, 16px, #424242);
}