.product {
    margin-bottom: 70px;
    &__content {
        display: flex;
        // flex-wrap: wrap
    }
    &__podtitle {
        @include font(600, 16px, #424242);
        font-family: 'Montserrat';
        margin-bottom: 12px;
    }
    &__list--item {
        @include font(400, 14px, #424242);
        font-family: 'Montserrat';
    }
    &__list--item input {
        margin-right: 8px;
        margin-bottom: 14px;
        width: 14px;
        height: 14px;
        border: 0.9px solid #BDBDBD;
        border-radius: 3px;
    }
    &__list {
        margin-bottom: 14px;
        margin-top: 21px;
    }
    &__show {
        font-family: 'Montserrat';
        margin-bottom: 16px;
        border: 1px solid #bb9292;
        cursor: pointer;
        padding: 16px 79px;
        border-radius: 46px;
        @include font(600, 16px, white);
        background: linear-gradient(102.48deg, #976464 -29.03%, #CFA5A5 97.75%);
    }
    &__show:hover {
        background: linear-gradient(102.48deg, #7B4646 -29.03%, #BF9191 97.75%);
    }
    &__show:active {
        border: 1px solid #BF9191;
        color: #BF9191;
        background: white;
    }
    &__delete {
        @include font(600, 16px, #BDBDBD);
        padding: 16px 79px;
        margin-bottom: 16px;
        border: 1px solid #BDBDBD;
        border-radius: 46px;
        cursor: pointer;
        background: white;
        font-family: 'Montserrat';
    }
    &__delete:hover {
        color: #9f7070;
        border: 1px solid #bb9292;
    }
    &__delete:active {
        background: $roza;
        color: white;
    }
    &__left--btn {
        width: 228px;
    }
    &__describe {
        text-align: center;
        font-family: 'Montserrat';
        @include font(400, 14px, #BDBDBD);
    }
    &__btn {
        @include font(400, 14px, #BDBDBD);
        padding: 15px 45px 17px 7.5px;
        margin: 16px 0 28px 27px; // 27 
        border: 1px solid #BDBDBD;
        border-radius: 46px;
        cursor: pointer;
        background: white;
        font-family: 'Montserrat';
    }
    &__btn a {
        color:#BDBDBD ;
    }
    &__btn:hover {
        color: #9f7070;
    }
    &__btn:hover {
        border: 1px solid #bb9292;
    }
    &__btn:active {
        background: $roza;
        color: white;
    }
    &__btn--item {
        padding-left: 46px;
    }
    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 30px 0 30px;
    }
    &__item {
        background: #FFFFFF;
        box-shadow: 0px 0px 30px rgba(68, 68, 68, 0.05);
        border-radius: 20px;
        position: relative;
        margin-bottom: 28px
    }
    &__description {
        @include font(600, 16px, #424242);
        font-family: 'Montserrat';
        margin: 16px 0 0 30px;
    }
    &__description span {
        background: linear-gradient(102.48deg, #976464 -29.03%, #CFA5A5 97.75%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        // text-fill-color: transparent;
    }
    &__man {
        padding-left: 30px;
    }
    &__title {
        font-family: 'Montserrat';
        @include font(400, 16px, #424242);
        margin-left: 30px;
        margin-bottom: 17px;
        margin-top: 181.57px;
    }
    &__img {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 30px;
        left: 30px;
    }
    &__item {
        // display: flex;
        // align-items: flex-end;
        // justify-content: center;
        // flex-wrap: wrap;
        // height: 422px;
        width: 245px;
        margin-left: 28px;
    }
    &__hearth, &__more {
        z-index: 10;
    }
    &__hearth {
        margin-right: 148px;
    }
    &__right {
        display: flex;
        flex-wrap: wrap;
        margin-top: 21px;
    }
    &__left {
        margin-right: 27px;
    }
    &__description s {
        font-family: 'Montserrat';
        @include font(300, 14px, #424242);
        margin-right: 14px;
    }
    // &__left input:hover {
    // }
    &__descriptionTwo {
        margin-bottom: 17px;
        margin-left: 31px;
        @include font(400, 10px, #C4C4C4);
        text-transform: uppercase;
        font-family: 'Montserrat';
    }
    &__itemTwo {
        // display: flex;
        // align-items: flex-end;
        // justify-content: center;
        // flex-wrap: wrap;
        // height: 422px;
        width: 245px;
        margin-left: 28px;
        background: #FFFFFF;
        box-shadow: 0px 0px 30px rgba(68, 68, 68, 0.05);
        border-radius: 20px;
        position: relative;
        margin-bottom: 28px;
        height: 478px;
    }
    &__imgTwo {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 25px;
        left: 25px;
    }
    &__manTwo {
        margin-left: 30px;
        display: flex;
    }
    &__man--text {
        @include font(400, 16px, #424242);
        font-family: 'Montserrat';
        margin-left: 3px;
    }
    &__list--item input {
        border: 0.9px solid #BDBDBD;
        border-radius: 3px;
        width: 14px;
        height: 14px;
    }
}