.cont {
    margin: 0 auto;
    max-width: 1100px;
}
.sps {
    font-family: 'Montserrat';
    &__closed {
        margin: 82.77px 82.09px 57.27px 0;
        display: flex;
        justify-content: flex-end;
    }
    &__top {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 32px;
    }
    &__title {
        @include font(600, 28px, #424242);
        margin-left: 21.37px;
    }
    &__text {
        display: flex;
        justify-content: center;
        margin-bottom: 32px;
    }
    &__description {
        // width: 320px;
        @include font(400, 16px, #424242);
    }
    &__knp {
        display: flex;
        justify-content: center;
        margin-bottom: 75px;
    }
    &__btn {
        font-family: 'Spectral SC';
        cursor: pointer;
        padding: 13px 45px;
        border-radius: 49px;
        border: none;
        margin-bottom: 99px;
        text-transform: uppercase;
        @include font(600, 16px, white);
        background: linear-gradient(102.48deg, #976464 -29.03%, #CFA5A5 97.75%);
    }
    &__btn:hover {
        background: linear-gradient(102.48deg, #7B4646 -29.03%, #BF9191 97.75%);
    }
    &__btn:active {
        border: 1px solid #BF9191;
        color: #BF9191;
        background: white;
    }
    &__pred {
        display: flex;
        justify-content: flex-start;
        margin-bottom: 32px;
    }
}